* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

body {
	height: 100%;
	background: #4ba4f7;
	font-family: OpenSans, Arial, sans-serif;
	font-size: 16px;
}

textarea, input {
	font-family: inherit;
}

.task_container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 1.25rem;
}

.column {
	padding: 1rem;
	width: 30%;
	background-color: #e9e9e9;
	border-radius: 5px;
}

.column_title {
	margin-bottom: 0.5rem;
	font-size: 16px;
	text-transform: uppercase;
}

.add_btn {
	margin-top: 0.625rem;
	padding: 0.3rem 0;
	border: none;
	background-color: inherit;
	color: #6c6b6b;
	cursor: pointer;
}

.add_btn:hover {
	text-decoration: underline;
}

.input_container {
	margin-top: 0.8rem;
}

.input_task {
	-webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    min-height: 1.25rem;

    padding: 0.5rem;

    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.input_add_btn {
	padding: 0.5rem 0.8rem;
	margin: 0.5rem 0.5rem 0 0;

	border: none;
	border-radius: 5px;
	background-color: #4ba4f7;
	font-weight: bold;
	color: #fff;
}

.input_add_btn:hover {
	background-color: #067eee;
	cursor: pointer;
}

.input_reset {
	font-size: 16px;
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.input_reset:hover {
	color: #fff;
}

.task_list {
	list-style-type: none;
	min-height: 2rem;
}

.list_item {
	display: flex;
  	justify-content: space-between;
	margin-top: 0.5rem;
	padding: 0.62rem 0.62rem;

	border-radius: 0.32rem;
	background-color: #fff;
	color: #000000;
}

.task_item_del {
	font-size: 14px;
	cursor: pointer;
	display: none;
}

.list_item:hover .task_item_del {
	display: block;
}

.task_item_del:hover {
	font-size: 16px;
	font-weight: bold;
}

.none {
	display: none;
}

.block {
	display: block;
}

.list_item.dragged {
	border-radius: 0.625rem;
	position: absolute;
	z-index: 999;
	pointer-events: none;
	background: #fff;
}
